body {
  background-color: #000;
  color: #f1f3f5;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

i.fa-solid {
  margin: 0 4px;
  font-size: 0.9em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 100;
  white-space: nowrap;
}

#home-logo{
  width: 60px;
}

nav.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: nowrap;
  overflow: hidden;
}

nav.menu a {
  font-size: 15px;
  font-weight: bold;
  color: #f1f3f5;
  padding: 8px;
  white-space: nowrap;
}

.download-btn {
  background-color: #FF6F0F;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#search-section-container {
  padding: 20px 0;
}

.search-row{
  display: flex;
  align-items: center;
  gap: 15px;
}

.location {
  background-color: #868b945d;
  border: none;
  border-radius: 30px;
  color: #f1f3f5;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
}

.location i {
  margin-right: 5px;
}

.search-form {
  flex-grow: 1;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid #3a3d42;
  border-radius: 25px;
  padding: 8px 12px;
  gap: 10px;
  transition: border-color 0.2s;
}

.category {
  background: transparent;
  border: none;
  color: #f1f3f5;
  font-size: 16px;
  cursor: pointer;
}

.category i {
  color: #868b94;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #868b94;
}

#query {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: #f1f3f5;
  font-size: 16px;
  outline: none;
}

#query::placeholder {
  color: #868b94;
}

.search-btn {
  background: transparent;
  border: none;
  color: #f1f3f5;
  font-size: 18px;
  cursor: pointer;
}

nav.keywords {
  margin-top: 15px;
  margin-left: 120px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 15px;
  padding-left: 5px;
}

.popular-title {
  font-weight: bold;
  color: #868b94;
  font-size: 13px;
  white-space: nowrap;
}

nav.keywords a {
  color: #f1f3f5;
  font-size: 13px;
  white-space: nowrap;
}

.titles {
  margin-top: 10px;
  font-size: 13px;
  color: #868b94;
}

.titles a {
  color: #f1f3f5;
  margin-bottom: 20px;
}

.titles span {
  margin: 0 5px;
}

.main-content-title {
  font-size: 27px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

.content-body {
  display: flex;
  gap: 40px;
  margin-top: 0;
}

.filters {
  flex-basis: 200px;
  flex-shrink: 0;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.custom-checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #3a3d42;
  border-radius: 4px;
  margin-right: 8px;
}
.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #FF6F0F; 
  border-color: #FF6F0F;
}

.custom-checkbox::after {
  content: '';
  display: block;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  position: relative;
  left: 4px;
  top: 1px;
  transform: rotate(45deg) scale(0);
}

.custom-checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after {
  transform: rotate(45deg) scale(1);
}

.reset-btn {
  background: transparent;
  border: none;
  color: #868b94; 
  text-decoration: underline; 
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}


.filter-group {
  padding: 10px 0;
  border-bottom: 1px solid #3a3d42;
}

.filter-group:last-child {
  border-bottom: none;
}

.filter-group > label {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.filter-group h4 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: bold;
}

.filter-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-group li {
  margin-bottom: 12px;
  font-size: 15px;
}

.filter-group li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;

  width: 20px;
  height: 20px;
  border: 1px solid #3a3d42;
  border-radius: 50%;
  margin-right: 8px;

  display: grid;
  place-items: center;
  cursor: pointer;
}

input[type="radio"]:checked {
  border-color: #FF6F0F; 
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF6F0F; 
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.see-more {
  background: transparent;
  border: none;
  color: #FF6F0F;
  cursor: pointer;
  padding: 5px 0;
  font-size: 15px;
}

.price-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.price-buttons button {
  background-color: black;
  border: 1px solid #252626;
  border-radius: 20px;
  color: #f1f3f5;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

.price-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.price-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.price-form input[type="number"] {
  flex: 1;
  width: 100%;
  background-color: black;
  border: 1px solid ;
  border-radius: 5px;
  color: #f1f3f5;
  padding: 8px;
  outline: none;
  border-color: #252626;
}

.price-form input[type="number"]::placeholder {
  color: #868b94;
}

.price-form span {
  color: #868b94;
}

.apply-btn {
  background: transparent;
  border: none;
  color: #f1f3f5;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 5px;
  font-size: 14px;
}

.product-list-container {
  flex-grow: 1; 
  min-width: 0; 
}

.product-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 40px 20px; 
}

.product-item a {
  display: block;
}

.product-item .product-image {
  width: 100%;
  aspect-ratio: 1 / 1; 
  border: 1px solid #3a3d42;
  border-radius: 8px;
  overflow: hidden; 
  position: relative;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding-top: 15px; 
}

.product-info .title {
  font-size: 15px;
  font-weight: normal;
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-info .price {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.product-info .data {
  font-size: 13px;
  color: #868b94;
  margin: 0;
}








