div{
  border : 1px solid black;
  box-sizing: border-box;
  /* content + padding + border 합으로 width/height 지정 */
}


.item{
  width: 75px;
  height: 75px;
}


.item1{background-color: red;}
.item2{background-color: orangered;}
.item3{background-color: orange;}
.item4{background-color: yellow;}
.item5{background-color: yellowgreen;}
.item6{background-color: green;}
.item7{background-color: lightblue;}
.item8{background-color: blue;}
.item9{background-color: violet;}

.flex-container{
  height: 800px;

  display: flex;
  /* 
  display :flex;  >> 부모요소에 주는 속성
  item(자식태그)을 감싸는 요소(부모태그)의 형식을 flexbox로 지정
  1. item들이 가로로 배치된다.
  2. item들의 크기는 내용물에 맞게 자동 조절된다.

  자동정렬 >> 가로/세로 정렬을 쉽게 조정 가능
  공간 배분 >> 요소 간 간격을 자동으로 조정
  반응형 레이아웃 >> 화면 크기에 따라 유연하고 조정
  */

  /* flex-direction (부모 전용 속성)
  >> 메인축의 방향과 시작위치를 지정하는 속성
  */

  /* flex-direction: row; */
  /* row(기본값) : 메인축이 가로방향 (왼쪽에서 오른쪽으로) */

  /* flex-direction: row-reverse; */
  /* row-reverse : 메인축이 가로방향 (오른쪽에서 왼쪽으로) */

  /* flex-direction: column; */
  /* column : 메인축이 세로방향 (위에서 아래로) */

  /* flex-direction: column-reverse; */
  /* column-reverse : 메인축이 세로방향 (아래에서 위로) */

  /* ============================================================================= */
  
  /* flex-wrap (부모 전용 속성)
  >> 아이템들이 한 줄에 다 들어가지 않을 때, 
     다음 줄로 넘어가게 할지 여부를 지정하는 속성
  
    내부 아이템들이 강제로 한 줄에 배치되게 할 지,
    공간이 부족하면 다음 줄로 넘어가게 할 지 지정
  */
  
  /* 기본값 : nowrap (한 줄에 배치) */
  /* flex-wrap: nowrap; */
  
  /* wrap : 공간이 부족하면 다음 줄로 넘어감 */
  /* flex-wrap: wrap; */
  
  /* wrap-reverse : 다음 줄로 넘어가는데, 역순으로 배치 */
  /* flex-wrap: wrap-reverse; */

/* ============================================================================= */

  /* justify-content (부모 전용 속성)
  >> 메인축 방향으로 item들을 어떻게 정렬할지 지정하는 속성
  */
  /* 기본값 : flex-start (메인축 시작점에 정렬) */
  /* justify-content: flex-start; */

  /* center : 메인축의 중앙에 정렬 */
  /* justify-content: center; */

  /* flex-end : 메인축의 끝점에 정렬 */
  /* justify-content: flex-end; */

  /* space-between : 양 끝 쪽을 붙인 상태에서 item들 사이에 동일한 간격을 둠 */
  /* justify-content: space-between; */

  /* space-around : 양 끝은 조금, item들 주위에 동일한 간격을 둠 */
  /* justify-content: space-around; */

  /* space-evenly : item들 사이에 동일한 간격을 둠 (양 끝 포함) */
  /* justify-content: space-evenly; */

  /* ============================================================================= */

  /* align-items (부모 전용 속성)
  >> 교차축 방향으로 item들을 어떻게 정렬할지 지정하는 속성
  */

  /* 기본값 : stretch (교차축 전체에 걸쳐 늘어남) */
  /* align-items: stretch; */

  /* flex-start : 교차축의 시작점에 정렬 */
  /* align-items: flex-start; */

  /* center : 교차축의 중앙에 정렬 */
  /* align-items: center; */

  /* flex-end : 교차축의 끝점에 정렬 */
  /* align-items: flex-end; */

}

#con {         /* 부모 */
  width: 400px;
  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#item-center { /* 자식 */
  width: 80px;
  height: 80px;
  background-color: red;
}



/* item(자식)에게 주는 flex 속성 */

/* 
flex-basis : item의 기본 크기를 결정하는 속성
부모를 기준으로 자식이 얼마만큼 점유하겠는가?
width와 비슷하지만, flex-grow, flex-shrink에 의해
유동적으로 변경될 수 있음.

기본값 : flex-basis : auto (내용물 크기 기준)
>> 요소 본래의 크기만큼을 가짐
flex-basis : 0; >> 본래 요소의 크기 중 content 만을 남겨두고
차지하는 영역 없음
부모 영역이 flexbox이어야 사용이 가능하다.
*/

.basis-20 {
  flex-basis: 20%;
}

.basis-30 {
  flex-basis: 30%;
}

.basis-50 {
  flex-basis: 50%;
}

/* flex-grow */
.grow1 {
  flex-grow: 0;
  /* 기본값 0;
  요소가 추가적인 가용공간을 차지하지 않음
  자신의 초기 크기만 유지
  설정값은 여백의 비율로 작성하고 적용됨 */
}

.grow2 {
  flex-grow: 2;
  /* 여유 공간이 있으면 2의 비율로 커짐 */
}

.grow3 {
  flex-grow: 1;
  /* 여유 공간이 있으면 1의 비율로 커짐 */
}

/*
flex-shrink : 1;(기본값)
컨테이너의 크기가 줄어들면
다른 요소들(자식요소)과 함께 비율적으로
축소될 수 있음을 의미
*/

.shrink1 {
  flex-shrink: 0;
  /* 0 : 축소되지 않음
  (컨테이너의 공간이 부족해도 본인의 원래 크기를 유지함) */
}

.shrink2{
  flex-shrink: 1;
  /* 1 : 축소 비율이 1(기본값) */
}

.shrink3 {
  flex-shrink: 2;
  /* 2 : 축소 비율이 2 (다른 요소들보다 더 많이 축소됨) */
}


/* flex :
Flexbox 내에서 아이템의 크기와 비율을 설정하는 속성
 */
.flex-test1{
  flex: 1; 
  /* flex-grow:1; >> 남은 가용공간을 1 비율로 차지
    flex-shrink:1;  >> 공간이 부족할 때 1 비율로 축소
    flex-basis:0; >>  기본 크기 0px
    */
}

.flex-test2 {
  flex : 1 0 auto;
  /* flex-grow:1; >> 남은 가용공간을 1 비율로 차지
    flex-shrink:0;  >> 공간이 부족할 때 축소하지 않음
    flex-basis:auto; >> 본래 크기 유지
    */
}

.flex-test3 {
  flex : 1 50%;
  /* flex-grow:1; >> 남은 가용공간을 1 비율로 차지
    flex-shrink:1;  >> 공간이 부족할 때 1 비율로 축소
    flex-basis:50%; >> 기본 크기 50%
    */
}




/* ====================================================================== */

/* (자식요소 속성)
order : 기본값 0;
양수 ~ 음수 설정 가능
값이 작은 요소가 먼저 배치되고
큰 요소가 나중에 배치된다.
*/
.order:nth-child(1) {
  order: 3;
}

.order:nth-child(2) {
  order: -2;
}

.order:nth-child(3) {
  order: 5;
}


/* 문제 1 */

.container-1 {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.header-1, .footer-1 {
  flex-basis: 20%;
  background-color: gray;
}

.body-1 {
  flex-grow : 1;

  display: flex;
  /* body-1은 container-1의 자식 요소이면서
  body-item 요소들의 부모요소이기도 함 */
  flex-direction: row;
}

.body-item:nth-child(1) {
  flex-basis: 30%;
  background-color:skyblue;
}

.body-item:nth-child(2) {
  flex-basis: 50%;
  background-color: tomato;
}

.body-item:nth-child(3) {
  flex-basis: 20%;
  background-color: antiquewhite;
}

/* 문제 2 */
.container-2 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-2 {
  flex-basis: 20%;
  background-color: red;
}

.body-2 {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.body-item1 {
  flex-basis: 30%;
  background-color: yellow;
}

.body-item2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.inner-item:nth-child(1) {
  flex-basis: 80%;
  background-color: greenyellow;
}

.inner-item:nth-child(2) {
  flex-basis: 20%;
  background-color: blue;
}

/* 문제 3 */
.container-3 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-3 {
  flex-basis: 30%;
  background-color: yellow;
}

.body-3 {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.body-item3 {
  flex-basis: 30%;
  background-color: lightskyblue;
}

.body-item4 {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.inner-item3 {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
}

.innerinner:nth-child(1) {
  flex-basis: 70%;
  background-color: cyan;
}

.innerinner:nth-child(2) {
  flex-basis: 30%;
  background-color: red;
}

.inner-item4 {
  flex-grow: 1;
  background-color: magenta;
}

/* 문제 4 */
.container-4 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-4, .footer-4{
  flex-basis: 20%;
  background-color: green;
}

.body-4 {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}

.inner-item4-1 {
  flex-basis: 30%;
  background-color: yellow;
}

.inner-item4-2 {
  flex-grow: 1;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.deep-item4-1 {
  flex-basis: 50%;
  border: 0px;
}

.deep-item4-2 {
  flex-grow: 1;
  border: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deepinner4 {
  flex-basis: 30%;
  background-color: red;
}







