#test1 > p:only-child {
  background-color: seagreen;
}
/* 자식이 하나만 있어야 적용됩니다. */

#test2 > p:only-of-type {
  background-color: purple;
}
/* 같은 타입의 형제가 하나만 있어야 적용됩니다.
해석 순서가 only-child와 반대로 앞에서 뒤로 작동하기 때문에 p 태그가 하나라면 적용됩니다. */

#test3 > p:empty {
  background-color: orange;
  height: 30px;
}
/* 내용물이 완전히 비어 있어야 적용됩니다. */

#test4-1, #test4-2, #test4-3 {
  background-color: yellow;
  color: red;
}

/* #test5-1 후손 중 클래스가 c5인 요소를 선택*/
#test5-1 .c5 {
  background-color: pink;
  color: blue;
}

/* #test5-2 인 자식 중 클래스가 c5인 li 요소만 선택*/
#test5-2 > li.c5 {
  background-color: lightgray;
  color: green;
}

/* 클래스가 test6이면서 c6인 요소를 선택 */
.test6.c6 {
  background-color: lightblue;
  color: brown;
}


