
/*3순위 : 아이디 선택자*/
#test1 {
    width:100px;
    height:100px;
    background-color: green;
    color:white
}

/*4순위 : 클래스 선택자*/
.cls1 {
    width:150px;
    height:150px;
    background-color: blue;
}

.cls1 {
    border:5px solid black;
    /* 동일한 우선순위에서는 이후에 작성된 설정값이 우선 적용된다. */
}

/*5순위 : 태그 선택자*/
div {
    width:200px;
    height:200px;
    background-color: red !important;
}
/* !important가 달려있는 속성 : 1순위 */
